<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit your Listing:</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="listing[title]" class="form-label">Title</label>
                    <input type="text" name="listing[title]"  value="<%=listing.title%>" class="form-control" required>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="listing[description]" class="form-label">Description</label>
                    <textarea name="listing[description]" cols="30" rows="10" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">
                    Add short Description!
                    </div>
                    <br>
                    <div class="mb-3">
                        Original Listing Image <br>
                    <img src="<%= originalImageUrl %>" alt="listing">
                </div>
                </div>
                
                <div class="mb-3">
                    <label for="listing[image]" class="form-label">Upload New Image</label>
                    <input type="file" name="listing[image]"  class="form-control" >
                </div>
            <!-- category -->
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>

                <select name="listing[category]" class="form-select" required>

                    <option value="Trending" <%= listing.category === "Trending" ? "selected" : "" %>>
                    Trending
                    </option>

                    <option value="Rooms" <%= listing.category === "Rooms" ? "selected" : "" %>>
                    Rooms
                    </option>

                    <option value="Iconic Cities" <%= listing.category === "Iconic Cities" ? "selected" : "" %>>
                    Iconic Cities
                    </option>

                    <option value="Mountains" <%= listing.category === "Mountains" ? "selected" : "" %>>
                    Mountains
                    </option>

                    <option value="Castles" <%= listing.category === "Castles" ? "selected" : "" %>>
                    Castles
                    </option>

                    <option value="Amazing Pools" <%= listing.category === "Amazing Pools" ? "selected" : "" %>>
                    Amazing Pools
                    </option>

                    <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>
                    Camping
                    </option>

                    <option value="Farms" <%= listing.category === "Farms" ? "selected" : "" %>>
                    Farms
                    </option>

                    <option value="Arctic" <%= listing.category === "Arctic" ? "selected" : "" %>>
                    Arctic
                    </option>

                    <option value="Domes" <%= listing.category === "Domes" ? "selected" : "" %>>
                    Domes
                    </option>

                    <option value="Boats" <%= listing.category === "Boats" ? "selected" : "" %>>
                    Boats
                    </option>

                </select>
                <div class="invalid-feedback">
                    Please select a category!
                </div>
            </div>    
            <div class="row">
                            <div class="mb-3 col-md-4">
                            <label for="listing[price]" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                            <div class="invalid-feedback">
                            Add valid Price!
                            </div>
                            </div>
                        <div class="mb-3 col-md-8">
                            <label for="listing[country]" class="form-label">Location</label>
                            <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                            <div class="invalid-feedback">
                            Add valid Country!
                            </div>
                        </div>
                        
                </div>
                <div class="mb-3">
                    <label for="listing[location]" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">
                        Add valid Location!
                    </div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
                <br><br>
            </form>
        </div>
    </div>
    <script src="/public/js/script.js"></script>
</body>
